/* Estilos generales */
body {
    background-image: url(images/banners/moto.png);
    background-size: cover;         /*cubre todo el fondo con la imagen principal*/
    background-repeat: no-repeat;   /*evita que se repita*/
    background-position: center;    /*centra la imagen*/
    background-attachment: fixed;   /*fija el fondo*/
    margin: 0;                      /*elimina la margen por defecto*/
    height: 100vh;                  /*altura completa de la pantalla*/
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*header con logo*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b0d0d;
    box-shadow: 0 2px 5px rgba(70, 69, 69, 0.1);
    color: rgb(255, 255, 255);
    padding: 15px 50px;
    text-align: center;
    font-family: cursive;
}

.logo{
    font-weight: bold;
    font-size: 34px;
    color: #d0b5fa;
}

nav a {
    color: white;
    text-decoration: none;
}

.banner {
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}